.chatbotButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #47A315;
  color: white;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Ensure it's above other content */
}

.chatbotButton:hover {
  background-color: #3f8f1c;
}
